

#ui-left #logo {
  content: url("/modules/spada/ui/img/logotogo.png");
  width: 80px;
  height: 80px;
}



#chat-message{
    background-image: url(/modules/spada/ui/img/tabchat.webp) !important;
    color: white;
    font-weight: bold;
    border-bottom-color: white;
    text-decoration: underline;
}




#pause img[src*="/modules/spada/ui/img/logotogo.png"] {
    box-sizing: border-box;
    width: 128px;
    height: 128px;
    padding-left: 128px;

    background-image: url("/modules/spada/ui/img/logotogo.pngp");
    animation: rotation 20s infinite linear;







/* #endregion */

/* #region Chat Tab*/
.message{
    background-image: url(/modules/spada/ui/img/chatcard1.webp) !important;

}

